/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.cart-info{
  display: inline-block
}

.cart-icon {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tooltip-custom {
  position: relative;
  display: inline-block;
}

.tooltip-custom .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 110%;
  margin-top: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-custom:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.remove-all-button{
  width: 100px;
}

.cart-title-counter {
  display: inline-block;
  margin-left: 5px;
  font-size: 18px;
}

.shopping-bag {
  font-size: 60px;
  color: black;
  display: inline-block;
}

.shopping-bag:hover {
  color: yellowgreen;
}

.custom-cart-icon {
  font-size: 20px;
  color: white;
}

.custom-cart-icon:hover{
  color: yellowgreen;
}

.remove-cart-button{
  border-radius: 20px;
  width: 265x;
}

.price-tag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightseagreen;
  padding: 5px 10px;
  border-radius: 0 0 0 5px;
}

.card-img-top {
  height: 400px;
  transition: transform 0.3s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.custom-button {
  background-color: #0275d8;
  border-radius: 15px;
  width: 100%;
  max-width: 120px;
  color: white;
  border-style: none;
  padding: 10px 20px;
  margin-top: 5px;
}

.custom-product-input {
  border-radius: 2px;
  border-color: black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  max-width: 500px;
  padding: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}

.search-button {
  background-color: green;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  max-width: 120px;
  color: white;
  border-style: none;
  padding: 10px 20px;
  margin-top: 5px;
}

@media screen and (max-width: 500px) {
  .custom-product-input {
    max-width: 100%;
    margin-right: 0;
  }
  .search-button {
    max-width: 100%;
  }
}

.product-image {
  border: 1px solid black;
  transition: transform 0.3s;
}

.product-image:hover {
  transform: scale(1.1);
}

.card-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.card-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s;
}

.card-title:hover::before {
  width: 100%;
}

.custom-border {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
