<footer class="bg-dark text-light py-4 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/products" class="text-white">Home</a></li>
          <li><a href="/products/about" class="text-white">About Us</a></li>
          <li><a href="#" class="text-white">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address class="text-white">
          Email: <a href="mailto:contact@youranimestore.com" class="text-white">anime.store@gmail.com</a><br>
          Phone: 0311-7279881<br>
          Address: Xprolabs, DHA 6
        </address>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
